################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Votemaki/Infra/bin/Debug/netcoreapp3.1
/Votemaki/Votemaki.Core/bin/Debug/netcoreapp3.1
/Votemaki/Votemaki.Core/obj/Debug/netcoreapp3.1
/Votemaki/WebApi/bin/Debug/netcoreapp3.1
/Votemaki/SushiBar/obj
Votemaki/BlazorApp1/obj
Votemaki/.vs/Votemaki/DesignTimeBuild
Votemaki/.vs
Votemaki/WebApi/obj
Votemaki/Test/obj
Votemaki/Infra/obj
Votemaki/WebApi/obj
Votemaki/Votemaki.Core/obj
Votemaki/.vs
Votemaki/Infra/obj
Votemaki/Test/obj
Votemaki/WebApi/obj
Votemaki/SushiBar/bin
