<h3>ProcessRegisterComponent</h3>

<h1>@(stringLocalizer["title"])</h1>
<Field>
    <FieldLabel></FieldLabel>
    <TextEdit Placeholder="@(stringLocalizer["institutionNamePH"])" >
        <FieldHelp>@(stringLocalizer["institutionNameHelper"])</FieldHelp>
    </TextEdit>
</Field>

@code {
    [Inject] public IStringLocalizer<ProcessRegisterComponent> stringLocalizer{ get; set; }
}
